@import "variables.scss";

@mixin centerItems {
    display: flex;
    align-items: center;
}

@mixin edgeTabs {
    width: 100vw;
    height: 8vh;
    background-color: white;
    @include centerItems();
}

@mixin inputStyle {
    width: 100%;
    height: 25px;
    border: none;
    border-bottom: 1px solid rgb(18, 103, 172);
    background-color: $inputBackgroundColor;
    color: $emptyTextColor;
}

@mixin labelStyle {
    width: 90%;
    height: 25px;
}

@mixin successButton {
    width: 100px;
    height: 30px;
    font-size: 14px ;
    font-weight: 800;
    border: none;
    background-color: rgb(18, 103, 172);
    color: $filledTextColor;
}
