$mainBackgroundColor: rgb(255, 0, 0);
$secondBackgroundColor: rgb(0, 0, 0);
$inputBackgroundColor: rgb(243, 238, 238);

$filledTextColor: white;
$emptyTextColor: black;

$paragraphFontSize: "12px";

$commentProfileImageWidth: 30px;
$commentProfileImageHeight: 30px;
$likeProfileImageWidth: 40px;
$likeProfileImageHeight: 40px;
$profileImageWidth: 50px;
$profileImageHeight: 50px;

