@import "../../styles/variables.scss";
@import "../../styles/functions.scss";



#verification-form{
    width: 100%;
    height: 100px;
    @include centerItems();
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    label{
        @include labelStyle();
        input{
            @include inputStyle();
            background-color: white;
            width: 90%;
        }
    }

    #submit{
        @include successButton();
        width: 200px;
    }

}

#verification-title {
    margin-bottom: 50px;
}
